<!-- <h1>Welcome to Shrturl</h1>
<hr>
<h2>Shorten your URL</h2> -->


<form action="/urls" method="post">
	<input type="text" name="long_url" placeholder="Type in the URL">
	<br>
	<br>
	Shorten it
	<input type="submit" value="...">
</form>

<% unless @url.nil? %> 
<p> Your original URL: <%= @url.long_url %>. </p>
<p> Your shorten URL:
<a href="<%= @url.short_url %>"> https://shrt/<%=@url.short_url %></a></p>

<% end %>

